---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "404 Error - Page Not found | KeralaServiceRules.com";
const description = "Page Not found | KeralaServiceRules.com";
---

<BaseLayout {title} {description}>
  <main class="wrapper my-8">
    <div class="max-w-sm text-center text-xl lg:text-2xl">
      <h1 class="mb-4 text-2xl font-bold lg:text-3xl">
        We couldn't find what you are looking for.
      </h1>
      <p>
        You may check our
        <a href="/" class="text-brand underline decoration-2 underline-offset-4"
          >Homepage</a
        >
        and see if you can find what you are looking for.
      </p>
    </div>
  </main>
</BaseLayout>
