---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "About Us | KeralaServiceRules.com";
const description =
    "Know a little bit about us, what drives us and how you can contact us.";
---

<BaseLayout {title} {description}>
    <main class="wrapper my-8">
        <div class="max-w-2xl mx-auto">
            <p class="text-xl font-manjari leading-relaxed text-center">
                കേരള സർക്കാർ ജീവനക്കാർക്ക് സർവീസ് സംബന്ധമായ വിവരങ്ങൾ അറിയാൻ
                വേണ്ടി ഒരുക്കിയ വെബ്സൈറ്റ് ആണിത്. സർവീസ് കാലയളവിൽ ഒരാൾക്ക്
                ഉപയോഗപ്രദമായ വിവരങ്ങൾ ലളിതമായ മലയാളത്തിൽ പരമാവധി ഉൾക്കൊള്ളിക്കാൻ
                ശ്രമിക്കുന്നതാണ്. ഡിപ്പാർട്ടമെന്റ് ടെസ്റ്റുകൾ എഴുതുന്നവർക്കും
                ഇത് പ്രയോജനപ്പെടും എന്ന് ഞങ്ങൾ വിശ്വസിക്കുന്നു
            </p>
        </div>
    </main>
</BaseLayout>
