---
import BaseLayout from "@layouts/BaseLayout.astro";
import SearchField from "@components/SearchField.astro";
import TagCloud from "@components/TagCloud.astro";
import UsefulLinks from "@components/UsefulLinks.astro";
import PopularPosts from "@components/PopularPosts.astro";

const title =
    "Download KSR (Kerala Service Rules) PDF | Kerala Service Rules in Malayalam | KeralaServiceRules.com";
const description =
    "Download Kerala Service Rules (KSR) PDF. | Kerala Service Rules in Malayalam | KeralaServiceRules.com";
---

<BaseLayout {title} {description}>
    <div class="wrapper page-columns my-8">
        <main>
            <h1 class="text-2xl mb-6 md:mb-8 lg:mb-10">
                Download Kerala Service Rules PDFs from here.
            </h1>
            <ol class="list-decimal mt-3 ml-10">
                <li class="mt-8 text-xl md:text-2xl">
                    <a
                        href="/downloads/ksr-volume1-8th-edition.pdf"
                        class="text-brand"
                        >Kerala Service Rules Volume 1 - 8th Edition</a
                    >
                    <p class="text-lg mt-2">
                        ( Includes both Part 1 and Part 2 of KSR )
                    </p>
                </li>
                <li class="mt-8 text-xl md:text-2xl">
                    <a
                        href="/downloads/ksr-volume2-6th-edition.pdf"
                        class="text-brand"
                        >Kerala Service Rules Volume 2 - 6th Edition</a
                    >
                    <p class="text-lg mt-2">( Includes Part 3 of KSR )</p>
                </li>
            </ol>
            <p class="mt-8 text-lg">
                <span
                    class="font-bold underline underline-offset-4 decoration-2"
                    >NOTE:
                </span>&nbsp; &nbsp; All the files provided here are not the
                original work of us and are published by Kerala Finance
                Department. We provide the respective files as is; &nbsp; for
                better access to the public.
            </p>
        </main>
        <aside>
            <SearchField />
            <UsefulLinks />
            <PopularPosts />
            <TagCloud />
        </aside>
    </div>
</BaseLayout>
