---
const footer = [
  { text: "About", link: "/about" },
  { text: "Privacy Policy", link: "/privacy-policy" },
  { text: "Content Policy", link: "/content-policy" },
  { text: "RSS Feed", link: "/feed.xml" },
];
---

<footer class="bg-dark py-8 text-gray-100">
  <div class="wrapper grid gap-6 md:grid-cols-3 md:gap-2">
    <ul
      class="flex items-center justify-evenly gap-6 md:col-span-2 md:justify-normal md:gap-8"
    >
      {
        footer.map((item) => (
          <li>
            <a
              href={item.link}
              class="hover:text-brand-bright transition-colors"
            >
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>

    <div class="text-center md:text-right">
      Copyright © 2020 - <span id="currentYear"></span>
    </div>
  </div>
</footer>

<script>
  let currentYearSpan = document.getElementById("currentYear") as HTMLElement;
  const currentYear = new Date().getFullYear();
  currentYearSpan.innerHTML = currentYear;
</script>
