---
import Date from "./Date.astro";

const { title, malayalamTitle, pubDate } = Astro.props;
---

<section class="mt-4">
  <Date date={pubDate} class="mb-4 text-lg" />
  <h1 class="mb-2 text-4xl font-bold">
    {title}
  </h1>
  <span class="font-manjari text-2xl lg:text-3xl">{malayalamTitle}</span>
</section>
