---
import Search from "astro-pagefind/components/Search";
---

<section class="mt-6 mb-6 block lg:mb-10">
  <Search
    id="search"
    className="pagefind-ui font-sans"
    uiOptions={{ showImages: false }}
  />
</section>

<style>
  div {
    --pagefind-ui-border-radius: 1px;
  }
</style>
