---
const { heading } = Astro.props;
---

<div class="flex flex-wrap">
    <span
        class="text-2xl font-medium italic bg-dark text-gray-100 py-2 pl-2 pr-4 rounded-tl-md"
        >{heading}</span
    >
    <hr class="h-0.5 flex-grow bg-dark inline-block self-end" />
</div>
