---
const { heading } = Astro.props;
---

<div class="flex flex-wrap">
  <span
    class="bg-dark rounded-tl-md py-2 pr-4 pl-2 text-xl font-medium text-gray-100 italic"
    >{heading}</span
  >
  <hr class="bg-dark inline-block h-0.5 flex-grow self-end" />
</div>
