---
import { fetchAndFilterPosts, generateTagData } from "@utils/helper";
import SectionHeading from "./SectionHeading.astro";

const posts = await fetchAndFilterPosts();

const uniqueTags = [
  ...new Set(posts.flatMap((post) => post.data.tags)),
] as string[];

const tagData: { name: string; slug: string }[] = generateTagData(uniqueTags);
---

<section>
  <SectionHeading heading="Topics" />
  <p class="mt-3 mb-4 px-3">All the topics we've articles on</p>
  <div class="flex flex-wrap gap-x-2 gap-y-3 px-3">
    {
      tagData.map((tag) => (
        <a
          href={`/tag/${tag.slug}`}
          class="outline-dark hover:bg-dark focus:bg-dark rounded p-2 text-sm outline transition-colors hover:text-gray-100 hover:outline-gray-100 focus:text-gray-100 focus:outline-gray-100"
        >
          {tag.name}
        </a>
      ))
    }
  </div>
</section>
