---
import SectionHeading from "./SectionHeading.astro";

const usefulLinks = [
    { text: "Govt. of Kerala Website", link: "https://kerala.gov.in/" },
    { text: "Spark Website", link: "https://www.spark.gov.in/webspark/" },
    { text: "Medisep Website", link: "https://medisep.kerala.gov.in/" },
    { text: "Kerala PSC Website", link: "https://www.keralapsc.gov.in/" },
    {
        text: "Departmental Test Website",
        link: "https://www.keralapsc.gov.in/departmental-test",
    },
    {
        text: "Kerala PSC Thulasi",
        link: "https://thulasi.psc.kerala.gov.in/thulasi/",
    },
];
---

<div class="mb-8">
    <SectionHeading heading="Useful Websites" />
    <ul class="mt-4 list-disc pl-6">
        {
            usefulLinks.map((item) => (
                <li class="pb-4">
                    <a
                        href={`${item.link}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-lg hover:underline"
                    >
                        {item.text}
                    </a>
                </li>
            ))
        }
    </ul>
</div>

<style>
    .test {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        align-items: center;
        justify-content: center;
    }

    .useful {
        display: inline-block;
    }

    hr {
        flex-grow: 1; /* makes the <hr> expand */
        height: 2px; /* or however thick you want */
        background-color: black; /* the visible line color */
    }
</style>
